* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 710px;
  background-color: rgb(225, 255, 143);
  background-image: url(./images/big_star.png), url(./images/Star2.png), url(./images/Star3.png), url(./images/Star5.png), url(./images/Star4.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top right, 63px 94px, 156px 69px, 948px 548px, 1013px 568px;
}
.top__welcome {
  padding-top: 196px;
  width: 769px;
}
.top__welcome-text {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: rgb(32, 32, 39);
  padding-bottom: 24px;
}
.top__go {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 48px;
}
.top__btn {
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background-color: rgb(32, 32, 39);
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  color: rgb(255, 255, 255);
  padding: 16px 65px;
}
.top__btn:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.animation {
  height: 90px;
  background-color: rgb(188, 236, 48);
  display: flex;
  align-items: center;
  gap: 51px;
  overflow: hidden;
}
.animation__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  color: rgb(32, 32, 39);
  white-space: nowrap;
}

.about {
  background-color: rgb(32, 32, 39);
  padding-bottom: 96px;
  background-image: url(./images/star6.png), url(./images/star8.png), url(./images/star7.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right 77px, 25px 770px, 40px 822px;
}
.about__text {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
  padding-top: 94px;
}
.about__colection {
  width: 788px;
  height: 96px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  margin-bottom: 72px;
}

.about-box {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.about-box__link {
  text-decoration: none;
  color: rgb(32, 32, 39);
  grid-column: span 4;
}

.about-box-card {
  width: 378px;
  border-radius: 30px;
  background-color: #fff;
}
.about-box-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 1s;
}
.about-box-card__size1 {
  height: 473px;
}
.about-box-card__size2 {
  height: 512px;
}
.about-box-card__size3 {
  height: 551px;
}
.about-box-card__img {
  border-radius: 30px;
}
.about-box-card__text {
  background-color: #fff;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 36px;
  border-radius: 30px;
}
.about-box-card__number {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #202027;
  padding-bottom: 26px;
}
.about-box-card__name {
  width: 314px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
}

.game-box {
  background-color: rgb(32, 32, 39);
  padding-bottom: 144px;
  background-image: url(./images/star8.png), url(./images/star7.png), url(./images/star7-1.png), url(./images/star8-1.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 90% 93px, 95% 126px, right 52px bottom 65px, right 150px bottom 45px;
}
.game-box__text-box {
  margin-bottom: 72px;
}
.game-box__text {
  height: 78px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: rgb(255, 255, 255);
}

.game {
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 32px;
}
.game__text-box {
  width: 500px;
}
.game__text-box_left {
  padding-top: 48px;
  padding-left: 48px;
}
.game__text-box_right {
  padding-top: 48px;
  padding-right: 48px;
}
.game__name {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: rgb(32, 32, 39);
  padding-bottom: 24px;
}
.game__about {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgb(32, 32, 39);
  padding-bottom: 36px;
}
.game__play {
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background-color: rgb(32, 32, 39);
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  color: rgb(255, 255, 255);
  padding: 16px 75px;
}
.game__play:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
}
.game__img {
  border-radius: 30px;
  height: 500px;
}

.footer {
  background: rgb(189, 237, 53);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
}/*# sourceMappingURL=style.css.map */